= simple_form_for(@site) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :latitude
    = f.input :longitude
    = f.input :description
    = f.input :starts_at
    = f.input :ends_at
    = f.input :timezone_offset
    = f.input :banner_url

  .form-actions
    = f.button :submit
