%h1 Listing sites

%table
  %tr
    %th Name
    %th Latitude
    %th Longitude
    %th Description
    %th Starts at
    %th Ends at
    %th Timezone offset
    %th Banner url
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.name
      %td= site.latitude
      %td= site.longitude
      %td= site.description
      %td= site.starts_at
      %td= site.ends_at
      %td= site.timezone_offset
      %td= site.banner_url
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Site', new_site_path
