%p#notice= notice

= gmaps4rails(@json)
%p
  %b Name:
  = @site.name
%p
  %b Latitude:
  = @site.latitude
%p
  %b Longitude:
  = @site.longitude
%p
  %b Description:
  = @site.description
%p
  %b Starts at:
  = @site.starts_at
%p
  %b Ends at:
  = @site.ends_at
%p
  %b Timezone offset:
  = @site.timezone_offset
%p
  %b Banner url:
  = @site.banner_url

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
